* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', cursive;
  scroll-behavior: smooth;
}

:root {
  --index: calc(1vw + 1vh);
}

body {
  animation: fade 2s ease-in-out forwards;
  opacity: 0;
}

@keyframes fade {
  to {
    opacity: 1;
  }
}

.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  position: relative;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  animation: fade 3s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
}

nav ul li a:hover {
  opacity: 0.5;
}

.menu-toggle {
  cursor: pointer;
  display: none;
}

.header-content {
  text-align: center;
  animation: fade 3s ease-in-out forwards;
  animation-delay: 3s;
  opacity: 0;
}

.header-content h1 {
  font-size: calc(var(--index) * 3.5);
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.header-content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  animation: waviy 5s infinite;
  animation-delay: 5s;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.5s ease;
}

.header-content a:hover {
  background-color: #fff;
  color: black;
}

@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(50px);
  }
}

.social {
  position: fixed;
  left: 37px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  animation: fade 3s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

.social a {
  margin-bottom: 15px;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s ease;
}

.social a:hover {
  opacity: 1;
}

.header-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

@media (min-aspect-ratio: 16/9) {
  .header-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .header-video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 786px) {
  .menu-toggle {
    right: 37px;
    display: block;
    top: 20px;
    position: relative;
    border: none;
  }

  .menu-toggle span {
    position: absolute;
    width: 32px;
    height: 4px;
    background-color: #fff;
    border-radius: 5px;
    left: 5px;
    transition: transform 0.5s, opacity 0.5s;
  }

  .menu-toggle span:nth-child(1) {
    transform: translateY(-10px);
  }

  .menu-toggle span:nth-child(3) {
    transform: translateY(10px);
  }

  .header.open .menu-toggle span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }
  .header.open .menu-toggle span:nth-child(2) {
    opacity: 0;
  }
  .header.open .menu-toggle span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  nav {
    padding: 20px;
  }
  ul {
    width: auto;
    position: absolute;
    top: 82px;
    right: 25px;
    opacity: 0;
    height: auto;
    z-index: -1;
    transition: 0.2s ease-in;
  }

  ul.active {
    opacity: 1;
    z-index: 25;
  }
  nav ul li {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
  }
  nav ul li a {
    padding-left: 0;
    font-size: 20px;
  }
}

@media (max-width: 575px) {
  .social {
    flex-direction: row;
    margin-bottom: 0;
  }
  .social a {
    margin-right: 15px;
  }
}
